[project]
name = "pg_anon"
version = "1.8.8"
description = "PostgreSQL anonymization tool."
authors = [
    {name="Tantor Labs", email="tantor@tantorlabs.ru"}
]
readme = "README.md"
dependencies=[
    "aioprocessing==2.0.1",
    "asyncpg==0.29.0",
    "async-timeout==4.0.3",
    "prettytable>=3.17.0",
    "pyyaml (>=6.0.3,<7.0.0)",
    "concurrent-log-handler (>=0.9.28,<0.10.0)"
]

[build-system]
requires = ["setuptools>=78"]
build-backend = "setuptools.build_meta"

[project.scripts]
pg_anon = "pg_anon.__main__:main"

[tool.setuptools]
include-package-data = false
packages.find.include = ["pg_anon", "pg_anon.*"]
packages.find.exclude = ["tests", "dict"]

[tool.poetry]
name = "pg_anon"
version = "1.8.8"
description = ""
authors = ["Tantor Labs <tantor@tantorlabs.ru>"]
readme = "README.md"

packages = [
    { include = "pg_anon" }
]

[tool.poetry.dependencies]
python = "^3.11"
