aioprocessing==2.0.1 ; python_version >= "3.8" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.8" and python_version < "4.0"
asyncpg==0.29.0 ; python_version >= "3.8" and python_version < "4.0"
nest-asyncio==1.6.0 ; python_version >= "3.8" and python_version < "4.0"
prettytable==3.10.2 ; python_version >= "3.8" and python_version < "4.0"
setuptools==68.2.0 ; python_version >= "3.8" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.8" and python_version < "4.0"
